 .header{
                background-color: blueviolet;
                color:beige;
            }
            .footer{
                background-color:  silver;
                color :pink;
            }
            .container{
                margin :20px;
            }
           